<link rel="stylesheet" href="/static/style.css" type="text/css">

<!DOCTYPE html>

	<head>
		<title>Control RPi Web Server</title>
	</head>

	<body>
		<h1>Garage Door Controller</h1>
		{% for pin in pins %}
			<h2>{{ pins[pin].description }}
			{% if pins[pin].state == True %}
				is currently <strong>on</strong></h2><div class="row"><div class="col-md-2">
				<a href="/{{pin}}/off" class="btn btn-block btn-lg btn-default" role="button">Turn off</a></div></div>
			{% else %}
				is currently <strong>off</strong></h2><div class="row"><div class="col-md-2">
				<a href="/{{pin}}/on" class="btn btn-block btn-lg btn-primary" role="button">Turn on</a></div></div>
			{% endif %}
		{% endfor %}
		<br>
		<p>Create a new user by clicking the link below</p>
		<div class="row">
			<div class="col-md-2"><a href="/userCreate">Create new user</a></div>
		</div>
		<br>
		<p>see all users by clicking the link below</p>
		<div class="row">
			<div class="col-md-2"><a href="/viewUsers">View users</a></div>
		</div>
		<br>
		<p> Don't forget to logout :) </p>
		<div class="row">
			<div class="col-md-2"><a href="/logout">Logout</a></div>
		</div>
	</body>
</html>

