<link rel="stylesheet" href="/static/style.css" type="text/css">
    <head>
        <title>Control RPi Web Server View Users</title>
    </head>
    <body>
        <h1>Users List</h1>
        {% if users %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Admin</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.Username }}</td>
                            <td>{{ user.Email }}</td>
                            <td>{{ user.Admin }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No users found.</p>
        {% endif %}
        <a href="/main" class="btn btn-block btn-lg btn-primary" role="button">Exit</a>

    </body>
